html{
    background-color: rgb(0, 0, 0);
    color: white;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    background-color: rgb(255, 123, 0);
    color: white;
    font-size: 20px;
    padding: 25px;
}
h1{
    text-align: center;
}
main{
    padding: 0px 25px 0px 25px;
}
footer{
    background-color: rgb(255, 123, 0);
    color: white;
    font-size: 10px;
    text-align: left;
    padding: 15px;
}
.Titulo-Principal{
    color: rgb(255, 123, 0);
    padding: 5px;
    font-size: 60px;
}